.nav {
    padding: 2rem;
}

.td {
    padding: 2rem;
    text-align: center;
}

.table {
    width: 100%;
}

.logo {
    display: block;
    max-width: 20rem;
    margin: 0 auto;
}

.ul {
    width: calc(100vw - 4rem);
    padding: 0;
    text-align: center;
}

.li {
    display: inline;
    max-width: 20vw;
    margin: 0 2.5vw;
}

.li:first-child {
    margin: 0 0 0 2.5vw;
}